/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf") format("truetype");
}
@theme{
  --font-montserrat: "Montserrat", sans-serif;
}
@plugin "daisyui"  {
   themes: night --default;
 }
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@utility fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}